.container {
  height: auto;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--body-bg-color);
}

.wrapper {
  background: var(--bg-color);
  width: 50%;
  height: auto;
  padding: 20px;
}

.title {
  text-align: center;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  margin: 10px 0;
  font-weight: 600;
}

.form_container {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
}

.add_btn {
  padding: 6px 20px;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  border-right: 0;
  border-bottom: 0;
  background: var(--body-bg-color);
}

.todo_input {
  padding: 5px 20px;
  width: 100%;
}

.todo_container {
  background: #000000;
  margin: 5px 0;
  width: 100%;
}

.edit_btn {
  color: white;
  font-size: 20px;
}

.todo_wrapper {
  color: white;
  width: 100%;
  margin: 10px 0;
  display: flex;
}

.todo_item {
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 2%;
}

.todo_item span {
  font-size: 14px;
  font-weight: 400;
}

.delete_btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.delete_btn {
  color: white;
}
